<router-outlet></router-outlet>
<form [formGroup]="formDetails" (ngSubmit)="onSubmit()" novalidate>
  <!-- name -->
<div class="detail">
<div>
<label>Name</label>
<input type="text" formControlName="name">
</div>
<div style="color: red;" *ngIf="!formDetails.controls.name?.valid && (formDetails.controls.name?.dirty
      ||formDetails.controls.name?.touched)">
First Name is not valid
</div>
</div>
<!-- age -->
<div class="detail">
<div>
<label>age</label>
<input type="number" formControlName="age">
</div>
<div style="color: red;" *ngIf="!formDetails.controls.age?.valid && (formDetails.controls.age?.dirty
  ||formDetails.controls.age?.touched)">
age 20 to 30
</div>
</div>
<!-- contact number -->
<div class="detail">
<div>
<label>contact number</label>
<input type="number" formControlName="contact">
</div>
<div style="color: red;" *ngIf="!formDetails.controls.contact?.valid && (formDetails.controls.contact?.dirty
  ||formDetails.controls.contact?.touched)">
plz enter 10 digits only
</div>
</div>
<!--    email -->

<div class="detail">
<div>
<label>email</label>
<input type="email" formControlName="email">
</div>
<div style="color: red;" *ngIf="!formDetails.controls.email?.valid && (formDetails.controls.email?.dirty
  ||formDetails.controls.email?.touched)">
enter proper email
</div>
</div>





<div>
<button type="submit">submit</button>
</div>

</form>
